.cardapio-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
  background-color: #212529;
}

.cardapio-nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
  border-radius: 20px;
  padding: 0;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  background-color: #e9eaec;
  z-index: 5;
}

.cardapio-nav.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  left: 50%;
  transform: translateX(-50%);
}

.cardapio-nav li {
  cursor: pointer;
  padding: 10px;
}

.cardapio-nav a {
  text-decoration: none;
  color: #212529;
}

.cardapio-nav a:hover {
  color: #6d7275;
}

.cardapio-nav a:active {
  color: inherit;
}

.cardTitle {
  font-size: 1em;
  color: #ffd700;
  margin-bottom: 20px;
  text-align: center;
}

.menuItems {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 1000px;
}
