.Navbar {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: 1em;
}

.logoContainer {
  width: 150px;
  height: auto;
  margin: 0;
}

.logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.list {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: flex-end;
}

.item {
  margin-right: 1em;
}

.item a {
  color: #ffd700;
  text-decoration: none;
}

.item a:hover {
  color: #edf2f4;
}

.itemReserva a {
  color: #ffd700;
  text-decoration: none;
}

.itemReserva a:hover {
  color: #212529;
}

.reservaLink {
  background-color: #212529;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.reservaLink:hover {
  background-color: #edf2f4;
}

.hamburger {
  display: none;
}

@media (max-width: 480px) {
  .Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .hamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    width: 2rem;
    margin-left: 5.5em;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10000;
  }

  .line1,
  .line2,
  .line3 {
    width: 25px;
    height: 3px;
    background-color: #edf2f4;
    margin: 5px;
    transition: all 0.3s ease;
  }

  .open1 {
    transform: rotate(-45deg) translate(-12px, 6px);
  }

  .open2 {
    opacity: 0;
  }

  .open3 {
    transform: rotate(45deg) translate(-12px, -6px);
  }

  .list {
    display: none;
  }
  .logoContainer {
    width: 100px;
    height: auto;
    margin: 0;
  }

  .listHamburger {
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-end;
    background-color: #212529;
    opacity: 80%;
    position: absolute;
    margin: auto;
    margin-top: 5em;
    top: 0;
    right: 0;
    width: auto;
    height: auto;
    padding: 2em;
    color: #ffd700;
    gap: 1em;
  }
}
