.menuItemsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9eaec;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 180px;
  width: 450px;
  margin: 24px;
}

.itemImageContainer {
  width: 50%;
  margin: 0;
}

.menuItem .itemInfo {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  max-width: 250px;
}

.menuItem img {
  width: 200px;
  height: auto;
  margin: 0;
}

.menuItem h3,
.menuItem p {
  margin: 0;
  padding: 0.5em;
}

.menuItem h3 {
  font-size: 1.5em;
  color: #212529;
}

.menuItem p {
  font-size: 1em;
  color: #6d7275;
}
.menuItem .price {
  font-size: 20px;
  font-weight: bold;
  color: #3e9b46;
}

@media (max-width: 1440px) {
  .menuItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1440px;
    margin: 0;
  }
  .menuItem {
    display: flex;
    flex-direction: row;
    width: 450px;
    margin-left: 3.1em;
    margin-right: 0;
  }

  .itemImageContainer {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .menuItemsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 768px;
    margin-left: 24px;
  }
  .menuItem {
    display: flex;
    flex-direction: column;
    width: 334px;
    height: auto;
    margin-left: 26px;
    margin-right: 0;
  }

  .itemImageContainer {
    margin: 0;
    order: -1;
  }
}

@media (max-width: 425px) {
  .menuItemsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .menuItem {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: auto;
    margin: auto;
    margin-top: 24px;
  }

  .itemImageContainer {
    margin-top: 0.5em;
    order: -1;
  }

  .menuItem .itemInfo {
    align-items: center;
  }
}
