.menu-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9eaec;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 180px;
  width: 450px;
  margin: 24px;
}

.item-image-container {
  width: 50%;
}

.menu-item .item-info {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex: 1;
  max-width: 250px;
}

.menu-item img {
  width: 200px;
  height: auto;
}

.menu-item h3,
.menu-item p {
  margin: 0;
  padding: 0.5em;
}

.menu-item h3 {
  font-size: 1.5em;
  color: #212529;
}

.menu-item p {
  font-size: 1em;
  color: #6d7275;
}
.menu-item .price {
  font-size: 20px;
  font-weight: bold;
  color: #3e9b46;
}

@media (max-width: 1440px) {
  .menu-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 1440px;
    margin: 0;
  }
  .menu-item {
    display: flex;
    flex-direction: row;
    width: 450px;
    margin-left: 3.1em;
    margin-right: 0;
  }

  .item-image-container {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .menu-items-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 768px;
    margin-left: 24px;
  }
  .menu-item {
    display: flex;
    flex-direction: column;
    width: 334px;
    height: auto;
    margin-left: 26px;
    margin-right: 0;
  }

  .item-image-container {
    margin: 0;
    order: -1;
  }
}

@media (max-width: 425px) {
  .menu-items-container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 425px;
  }
  .menu-item {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    height: auto;
    margin: auto;
    margin-top: 24px;
  }

  .item-image-container {
    margin: 0.5em;
    order: -1;
  }

  .menu-item .item-info {
    max-width: none;
    align-items: center;
  }
}
